.side-profile {
  margin-top: 20px;
  width: 280px;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 90px; /* below navbar */
}


.profile-header {
  text-align: center;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-header h3 {
  margin: 10px 0 4px;
}

.role {
  font-size: 14px;
  color: gray;
}

.profile-stats {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  padding: 10px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.profile-stats div {
  text-align: center;
}

.profile-stats span {
  font-size: 12px;
  color: gray;
}

.profile-about,
.profile-skills {
  margin-top: 12px;
}

.profile-about p {
  font-size: 14px;
  color: #444;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.skills span {
  background: #eef3ff;
  color: #2a4cff;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
}

.profile-btn {
  margin-top: 14px;
  width: 100%;
  padding: 8px;
  background: #0a66c2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.profile-btn:hover {
  background: #004182;
}
